body {
    color: #444444;
    margin: 15px;
    line-height: 1.3em;
}
#content {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.row {
    margin: 10px;
    width: 80%;
}

a {
  color: #22a959;
  text-decoration: none;
}
